@page "/"
@page "/gottesdienstbesuch"
@page "/{brand}"
@page "/gottesdienstbesuch/{brand}"
@using System.Globalization
@using System.Web
@inject HttpClient Http
@inject IJSRuntime JsRuntime

@if (_privLevel == PrivLevel._0)
{
    @if (_pwdBoxVisible)
    {
        <input class="form-control" placeholder="Passwort" @bind="_pwdBoxText" type="password" @onkeyup="PwdPressKey">
        <button class="btn btn-secondary" @onclick="() => PasswordChange(true)" style="position: absolute; right: 0; top: 0;">Anmelden</button>
    }
    else
    {
        <button class="btn btn-secondary" @onclick="() => _pwdBoxVisible = true" style="position: absolute; right: 0; top: 0;">F&uuml;r Adminstratoren</button>
    }
}
else
{
    <button class="btn btn-secondary" @onclick=LogOut style="position: absolute; right: 0; top: 0;">Ausloggen</button>
}
<div style="text-align: center;" >
    <img src="@GetResourceUrl(_brandData.Branding.Logo)" style="max-width: 60%; max-height: 300px" alt="Logo">
</div>
<div style="text-align: center;" >
    <h4>Anmeldung zum Besuch unserer Gottesdienste und Veranstaltungen</h4>
    <small>Bitte melden Sie sich bis @(_brandData.MinTime.Substring(1)) Stunde@(_brandData.MinTime[0] == '+' ? "n" : "") vor Gottesdienstbeginn an.</small>
    <br>
    @if (_privLevel > PrivLevel._0)
    {
        <div aria-label="Interactions" class="btn-group" role="group">
            <button class="btn btn-primary" @onclick=FetchEvents type="button">Aktualisieren</button>
            @if (_privLevel == PrivLevel._2)
            {
                <button class="btn btn-success" data-target="#addEventModal" data-toggle="modal" type="button">
                    Ereignis erstellen
                </button>
            }
        </div>
    }
    <br>
    <br>
</div>
<table class="table table-bordered">
    <tr>
        <th scope="col">Datum + Uhrzeit</th>
        <th scope="col">Gottesdienst</th>
        <th scope="col">Ort</th>
        <th scope="col">Teilnehmer</th>
        <th scope="col">Anmeldung</th>
        @if (_privLevel > PrivLevel._0)
        {
            <th scope="col">Admin</th>
        }
    </tr>
    @foreach (KeyValuePair<Guid, AnonymizedEvent> e in _events)
    {
        int mx = e.Value.MaxParticipants;
        int ct = e.Value.ParticipantCount;
        string loginStyle = $"btn-{(ct >= mx || !e.Value.Active ? "danger" : ct > mx * 4 / 5 ? "warning" : "success")}";
        <tr>
            @if (e.Key == _eventEditorCurrent && _privLevel == PrivLevel._2)
            {
                <td><input class="form-control" type="text" @bind=_eventEditorDate></td>
                <td><input class="form-control" type="text" @bind=_eventEditorName></td>
                <td><input class="form-control" type="text" @bind=_eventEditorPlace></td>
                <td><input class="form-control" type="text" @bind=_eventEditorMaxParticipants></td>
            }
            else
            {
                <td>@(e.Value.Time.ToString("f", new CultureInfo("de")) + " Uhr")</td>
                <td>@e.Value.Name</td>
                <td>@e.Value.Place</td>
                @if (_privLevel == PrivLevel._0)
                {
                    <td>Noch @(mx - ct) Plätze frei</td>
                }
                else
                {
                    <td>@ct / @mx</td>
                }
            }
            @if (e.Key == _eventEditorCurrent)
            {
                <td>
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <div class="btn-group" role="group" aria-label="Controls">
                                <button class="btn btn-success" @onclick="() => OpenCreateParticipantDialog(e.Key)" data-toggle="tooltip" data-placement="bottom" title="Nutzer hinzufügen">+</button>
                                @if (_privLevel == PrivLevel._2)
                                {
                                    <button type="button" @onclick="() => ClearParticipants(_eventEditorCurrent)" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Alle Nutzer entfernen">X</button>
                                }
                            </div>
                            @if (_privLevel == PrivLevel._2)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="eventActive" @bind=_eventEditorActive>
                                    <label class="form-check-label" for="eventActive">
                                        Anmeldung erlaubt
                                    </label>
                                </div>
                            }
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (KeyValuePair<Guid, Participation> participation in _eventEditorParticipants)
                            {
                                @for (int i = 0; i < participation.Value.Count; i++)
                                {
                                    <li class="list-group-item">@participation.Value.Name (@participation.Value.PhoneNumber)
                                        @if (_privLevel == PrivLevel._2)
                                        {
                                            <button @onclick="() => RemoveParticipant(e.Key, participation.Key)" class="btn btn-danger" style="right: 0px;position: absolute;top: 0px;bottom: 0px;" data-toggle="tooltip" data-placement="bottom" title="Nutzer löschen">-</button>
                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </td>
                <td>
                    @if (_privLevel == PrivLevel._2)
                    {
                        <button class="btn btn-success" @onclick="EventEditorSave" data-toggle="tooltip" data-placement="bottom" title="Änderungen abspeichern und aktualisieren">OK</button>
                        <button class="btn btn-primary" @onclick="() => _eventEditorCurrent = Guid.Empty" data-toggle="tooltip" data-placement="bottom" title="Ohne zu speichern den Editor beenden">Abbrechen</button>
                        <button class="btn btn-danger" type="button" @onclick="() => RemoveEvent(e.Key)" data-toggle="tooltip" data-placement="bottom" title="Eregnis entfernen">L&ouml;schen</button>
                    }
                    else
                    {
                        <button class="btn btn-success" @onclick="() => _eventEditorCurrent = Guid.Empty" data-toggle="tooltip" data-placement="bottom" title="Editor beenden">OK</button>
                    }
                </td>
            }
            else
            {
                <td id='eventTd${i}'>
                    <button class="btn @loginStyle" @onclick="() => OpenCreateParticipantDialog(e.Key)" data-toggle="tooltip" data-placement="bottom" title="Anmelden">Anmelden</button>
                </td>
                @if (_privLevel > PrivLevel._0)
                {
                    <td>
                        <button class="btn btn-primary" @onclick="() => OpenEventEditor(e.Key)" data-toggle="tooltip" data-placement="bottom" title="Ereignis bearbeiten">Bearbeiten</button>
                        <a class="btn btn-primary" href="/api/eventTable.xlsx?eventId=@e.Key&password=@(HttpUtility.UrlEncode(_pwdBoxText))" data-toggle="tooltip" data-placement="bottom" title="Tabelle mit Personen erstellen">Exportieren</a>
                    </td>
                }
            }
        </tr>
    }
</table>
@if (_brandData.Online.Enabled)
{
    <br>
    <h5 style="text-align: center;">
        <img src="@GetResourceUrl(_brandData.Online.Logo)" alt="@_brandData.Online.Name-Logo" style="width: 70px">
        Bitte beachten Sie auch unser Online-Angebot <a href="@_brandData.Online.Url">@HideHttp(_brandData.Online.Url.ToString())</a>
    </h5>
}
<br>
<div style="text-align: center; line-height: 12px">
    <small>
        @((MarkupString)_brandData.Branding.Contacs)
        <br>
        <br>
        Erstellt von <a href="https://jfronny.gitlab.io" target="_blank">JFronny</a>: <a href="/swagger" target="_blank">Swagger</a>, <a href="https://gitlab.com/kirchewds/gottesdienstbesuch2/" target="_blank">Source</a>
    </small>
</div>

<div aria-hidden="true" aria-labelledby="addEventModalLabel" class="modal fade" id="addEventModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ereignis anlegen</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" placeholder="Ereignis" type="text" @bind=_eventCreatorName>
                <input class="form-control" placeholder="Ort" type="text" @bind=_eventCreatorPlace>
                <input class="form-control" placeholder="Datum (yyyy-MM-dd hh:mm)" type="text" @bind=_eventCreatorDate>
                <label for="addEventMembers">Maxminale Teilnehmerzahl: @_eventCreatorParticipantCount</label>
                <input class="form-control-range" id="addEventMembers" type="range" @bind=_eventCreatorParticipantCount>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Abbrechen</button>
                <button class="btn btn-primary" @onclick="CreateEvent" type="button">OK</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="addParticipantModalLabel" class="modal fade" id="addParticipantModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ihr Name</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Mit dem Angeben ihres Namens stimmen Sie unseren <a href="@_brandData.Branding.DataProcessingInfo" target="_blank">Datenschutzbestimmungen</a>
                    zu.</p>
                <input class="form-control" placeholder="Nachname" type="text" @bind=_participationCreatorName1>
                <input class="form-control" placeholder="Vorname" type="text" @bind=_participationCreatorName2>
                <input class="form-control" placeholder="Telefonnummer" type="text" @bind=_participationCreatorNumber>
                <br>
                <label for="addParticipantCount">Wie viele Personen möchten sie anmelden?</label>
                <input class="form-control-range" id="addParticipantCount" type="number" @bind=_participationCreatorCount min="1" max="@_participationCreatorCountMax">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Abbrechen</button>
                <button class="btn btn-primary" @onclick="CreateParticipant" type="button">OK</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="removeEventModalLabel" class="modal fade" id="removeEventModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sind sie sicher?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sind Sie sicher, dass diesen Eintrag unwiederruflich entfernen wollen?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">Abbrechen</button>
                <button class="btn btn-danger" @onclick="RemoveEvent" type="button">Ja</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="errorModalLabel" class="modal fade" id="errorModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@_errorTitle</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">@_errorText</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">OK</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Brand
    {
        get => _brand ?? "default";
        set => _brand = value;
    }

    private AnonymizedBrand _brandData = new AnonymizedBrand
    {
        Branding = new Branding
        {
            Contacs = "",
            Logo = "",
            DataProcessingInfo = new Uri("http://localhost")
        },
        Online = new OnlineOffer
        {
            Enabled = false,
            Logo = "",
            Name = "",
            Url = new Uri("http://localhost")
        },
        MinTime = "-eine"
    };

    private string _errorText = "";
    private string _errorTitle = "";

    private bool _pwdBoxVisible = false;
    private PrivLevel _privLevel = PrivLevel._0;
    private Client _client;
    private int _eventCreatorParticipantCount = 42;
    private string _eventCreatorName = "";
    private string _eventCreatorPlace = "";
    private string _eventCreatorDate = "";
    private string _participationCreatorName1 = "";
    private string _participationCreatorName2 = "";
    private string _participationCreatorNumber = "";
    private int _participationCreatorCountMax = 1;
    private int _participationCreatorCount = 1;
    private Guid _participationCreatorCurrent = Guid.Empty;
    private Dictionary<Guid, AnonymizedEvent> _events = new();

    private Guid _eventEditorCurrent;
    private string _eventEditorName;
    private string _eventEditorPlace;
    private DateTime _eventEditorDate;
    private int _eventEditorMaxParticipants;
    private bool _eventEditorActive;
    private IDictionary<Guid, Participation> _eventEditorParticipants = new Dictionary<Guid, Participation>();

    private string _pwdBoxText = "";
    private string _brand;

    protected override async Task OnInitializedAsync()
    {
        _client ??= new Client(Http.BaseAddress.ToString(), Http);
        _brandData = (await _client.GetBrandsAsync())[Brand];
        await FetchEvents();
        await base.OnInitializedAsync();
    }

    private async Task FetchEvents()
    {
        IDictionary<string, AnonymizedEvent> w = await _client.GetEventsAsync(Brand);
        _events = new Dictionary<Guid, AnonymizedEvent>();
        foreach (KeyValuePair<string, AnonymizedEvent> kvp in w)
        {
            _events.Add(Guid.Parse(kvp.Key), kvp.Value);
        }
    }

    private async Task PasswordChange(bool msgOnZero)
    {
        try
        {
            _privLevel = await _client.GetPrivLevelAsync(Brand, _pwdBoxText);
            if (msgOnZero && _privLevel == PrivLevel._0)
            {
                await ShowMessage("Inkorrektes Passwort", "Das angegebene Passwort ist falsch");
                _pwdBoxText = "";
            }
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
        _pwdBoxVisible = false;
    }

    private async Task LogOut()
    {
        _pwdBoxText = "";
        _pwdBoxVisible = false;
        _privLevel = PrivLevel._0;
    }

    private async Task CreateParticipant()
    {
        try
        {
            if (_participationCreatorCount < 1)
                _participationCreatorCount = 1;
            if (_participationCreatorCount > _participationCreatorCountMax)
                _participationCreatorCount = _participationCreatorCountMax;
            await _client.AddParticipantAsync(_participationCreatorCurrent, (_participationCreatorName1 ?? "") + ", " + (_participationCreatorName2 ?? ""), _participationCreatorNumber ?? "", _participationCreatorCount);
            await HideDialog("addParticipantModal");
            await FetchEvents();
            if (_events.ContainsKey(_eventEditorCurrent))
                await LoadParticipationData(_participationCreatorCurrent);
            AnonymizedEvent v = _events[_participationCreatorCurrent];
            string p = _participationCreatorCount == 1 ? "1 Platz" : $"{_participationCreatorCount} Plätze";
            await ShowMessage("Erfolg", $"Sie haben {p} für den Gottesdienst \"{v.Name}\" am {v.Time.ToString("f", new CultureInfo("de"))} gebucht.\nBitte finden Sie sich mindestens 5 Minuten vor der Zeit dort ein.");
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task OpenCreateParticipantDialog(Guid eventId)
    {
        if (!_events[eventId].Active)
        {
            await ShowMessage("Ereignis inaktiv", "Das Ereignis ist nicht mehr aktiv");
            return;
        }
        if (_events[eventId].MaxParticipants - _events[eventId].ParticipantCount < 1)
        {
            await ShowMessage("Zu viele Eintragungen", "Es haben sich bereits so viele Besucher eingetragen, wie unsere Kirche in Zeiten von Corona aufnehmen kann. Bitte nutzen Sie unser Online-Angebot \"http://www.netzgottesdienst.de\"");
            return;
        }
        _participationCreatorCurrent = eventId;
        _participationCreatorCountMax = _events[eventId].MaxParticipants - _events[eventId].ParticipantCount;
        if (_participationCreatorCount < 1)
            _participationCreatorCount = 1;
        if (_participationCreatorCount > _participationCreatorCountMax)
            _participationCreatorCount = _participationCreatorCountMax;
        await ShowDialog("addParticipantModal");
    }

    private async Task CreateEvent()
    {
        try
        {
            await _client.AddEventAsync(Brand, _eventCreatorName, _eventCreatorPlace, DateTime.Parse(_eventCreatorDate), _eventCreatorParticipantCount, _pwdBoxText);
            await HideDialog("addEventModal");
            await FetchEvents();
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task OpenEventEditor(Guid eventId)
    {
        try
        {
            AnonymizedEvent e = _events[eventId];
            _eventEditorName = e.Name;
            _eventEditorPlace = e.Place;
            _eventEditorDate = e.Time.DateTime;
            _eventEditorActive = e.Active;
            _eventEditorCurrent = eventId;
            await LoadParticipationData(eventId);
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task LoadParticipationData(Guid eventId)
    {
        _eventEditorMaxParticipants = await _client.GetMaxParticipantsAsync(eventId, false);
        _eventEditorParticipants = (await _client.GetParticipantsAsync(eventId, _pwdBoxText))
            .ToDictionary(s => Guid.Parse(s.Key), s => s.Value);
    }

    private async Task EventEditorSave()
    {
        try
        {
            await _client.ModifyEventAsync(_eventEditorCurrent, _eventEditorName, _eventEditorPlace, _eventEditorDate, _eventEditorMaxParticipants, _eventEditorActive, _pwdBoxText);
            await FetchEvents();
            _eventEditorCurrent = Guid.Empty;
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task RemoveParticipant(Guid eventId, Guid participationId)
    {
        try
        {
            await _client.ModifyParticipantsCountAsync(eventId, participationId, -1, _pwdBoxText);
            await LoadParticipationData(eventId);
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task ClearParticipants(Guid eventId)
    {
        try
        {
            await _client.ClearParticipantsAsync(eventId, _pwdBoxText);
            await LoadParticipationData(eventId);
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task RemoveEvent(Guid eventId)
    {
        try
        {
            _eventEditorCurrent = eventId;
            await ShowDialog("removeEventModal");
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task RemoveEvent()
    {
        try
        {
            await _client.RemoveEventAsync(_eventEditorCurrent, _pwdBoxText);
            await FetchEvents();
            _eventEditorCurrent = Guid.Empty;
            await HideDialog("removeEventModal");
        }
        catch (ApiException<JfException> jfException)
        {
            await ShowError(jfException.Result);
        }
        catch (Exception e)
        {
            await ShowError(e);
        }
    }

    private async Task PwdPressKey(KeyboardEventArgs e)
    {
        Console.WriteLine(e.Key);
        if (e.Key == "Enter")
        {
            await PasswordChange(true);
        }
    }

    private string GetResourceUrl(string resourceName) => $"/api/Branding/resource?resource={Uri.EscapeDataString(resourceName)}";

    private string HideHttp(string url)
    {
        while (url.StartsWith("http://"))
            url = url.Remove(0, 7);
        while (url.StartsWith("https://"))
            url = url.Remove(0, 8);
        return url;
    }

    //Js Interop
    private async Task ShowMessage(string title, string message)
    {
        _errorText = message;
        _errorTitle = title;
        await ShowDialog("errorModal");
    }
    private async Task ShowError(Exception e)
    {
        Console.WriteLine(e);
        await ShowMessage("Ein unbekannter Fehler trat ein. Versuchen sie es später erneut!", e.Message);
    }

    private async Task ShowError(JfException jfException)
    {
        Console.WriteLine(jfException);
        await ShowMessage(jfException.Message, jfException.Details);
    }

    private async Task HideDialog(string id) => await JsRuntime.InvokeVoidAsync("dialog", "#" + id, "hide");
    private async Task ShowDialog(string id) => await JsRuntime.InvokeVoidAsync("dialog", "#" + id, "show");
}
